@page
@model IndexModel
@{
    ViewData["Title"] = "Titanic: Machine Learning from Disaster";
}

<div class="text-center">
    <h1 class="display-4">
        Titanic: Machine Learning from Disaster
    </h1>
    <p>Predict survival on the Titanic and get familiar with ML.Net</p>
    <p><a href="https://www.kaggle.com/c/titanic/">Kaggle link</a></p>
</div>
